<!DOCTYPE html>
<html lang="en">
<html class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
</head>
<body class="bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-white">

    <div class="container mx-auto px-4 py-6">
        <div class="text-center">
            <h1 class="text-2xl md:text-4xl font-semibold">
                {% block bread %}
                {% endblock %}
            </h1>
        </div>


       <div class="flex flex-wrap justify-end mt-6 space-x-2 pr-6">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_post') }}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md text-sm md:text-base shadow">
                    Home
                </a>
                <a href="{{ path('app_micro_post_add') }}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md text-sm md:text-base shadow">
                    Add New
                </a>
                
                <a href="{{ path('app_settings_profile') }}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-md text-sm md:text-base shadow">
                    Profile Settings
                </a>
                <a href="{{ path('app_settings_profile_image') }}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-md text-sm md:text-base shadow">
                    Profile Image
                </a>
                <a href="{{ path('app_logout') }}" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md text-sm md:text-base shadow">
                    Logout
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container mx-auto px-4">
        {% for message in app.flashes('success') %}
            <div class="rounded-md p-4 bg-green-50 border-l-4 border-green-500 dark:bg-green-700 dark:border-green-600 dark:text-white mb-4 text-sm md:text-base">
                {{ message }}
            </div>
        {% endfor %}
    </div>


    <div class="container mx-auto px-4 py-6">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
