<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
</head>
<body class="bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-white">
    <div class="text-center text-2xl font-bold mb-4">
        Let's Dive into Some TechPost
    </div>


    <div class="w-full md:w-2/3 mx-auto mb-4 flex flex-wrap justify-between items-center">
        <!-- Breadcrumb Section -->
        <div class="text-2xl md:text-4xl mb-2 md:mb-0">
            {% block bread %}
            {% endblock %}
        </div>

        <!-- Action Buttons -->
        <div class="flex flex-wrap justify-center space-x-2">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_micro_post_add') }}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-sm md:text-base">
                    Add New
                </a>
                <a href="{{ path('app_logout') }}" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded text-sm md:text-base">
                    Logout
                </a>
                <a href="{{ path('app_settings_profile') }}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded text-sm md:text-base">
                    Profile Settings
                </a>
                <a href="{{ path('app_settings_profile_image') }}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded text-sm md:text-base">
                    Profile Image
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="text-blue-500 underline text-sm md:text-base">
                    Login
                </a>
                <a href="{{ path('app_register') }}" class="text-blue-500 underline text-sm md:text-base">
                    Register
                </a>
            {% endif %}
        </div>
    </div>

    <!-- Flash Messages -->
    <div class="w-full md:w-2/3 mx-auto">
        {% for message in app.flashes('success') %}
            <div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4 text-sm md:text-base">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <!-- Main Body Content -->
    <div class="w-full md:w-2/3 mx-auto">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
